.places {
  margin: 92px auto 0px;
  width: 984px;
  height: 3392px;
}
@media screen and (max-width: 1300px) {
  .places {
  width: 928px;
  height: 3296px;
  }
}
@media screen and (max-width: 1044px) {
  .places {
    margin: 88px auto 0px;
    width: 720px;
    height: 2802px;
  }
}
@media screen and (max-width: 787px) {
  .places {
    margin: 64px auto 0px;
    width: 320px;
    height: 4775px;
  }
}
