.intro__list {
  width: 690px;
  height: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 12px;
  line-height: 150%;
}
.intro__list:first-child {
   margin-top: 32px;
}
@media screen and (max-width: 1044px) {
  .intro__list {
    width: 720px;ы
  }
}
@media screen and (max-width: 787px) {
  .intro__list {
    width: 288px;
  }
}