@import "./__title/lead__title.css";
@import "./__subtitle/lead__subtitle.css";
@import "./__image/lead__image.css";
@import "./__caption/lead__caption.css";
.lead {
  width: 984px;
  height: 1005px;
  margin: 56px auto 0px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1300px) {
  .lead {
    width: 928px;
    height: 962px;
    margin: 48px auto 0px;
  }
}
@media screen and (max-width: 1044px) {
  .lead {
    width: 768px;
    height: 862px;
    margin: 48px auto 0px;
  }
}
@media screen and (max-width: 787px) {
  .lead {
    width: 320px;
    height: 406px;
    margin: 48px auto 0px;
  }
}