.lead__title {
  width: 720px;
  height: 200px;
  margin: 0px auto 0px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}
@media screen and (max-width: 787px) {
  .lead__title {
    width: 288px;
    height: 88px;
    font-size: 40px;
    line-height: 44px;
  }
}