.footer__copyright {
  margin-top: 0px;
  height: 16px;
  font-size: 14px;
  line-height: 114%;
  text-align: right;
}

@media screen and (max-width: 787px) {
  .footer__copyright {
    width: max-content;
    height: 14px;
    line-height: 100%;
    text-align: left;
  }
}