@import "./__title/intro__title.css";
@import "./__text/intro__text.css";
@import "./__list/intro__list.css";
@import "./__list-num/intro__list-num.css";
.intro {
  width: 690px;
  height: 428px;
  margin-top: 92px;
  margin-left: 148px;
}
@media screen and (max-width: 1300px) {
  .intro {
    margin-left: 48px;
  }
}
@media screen and (max-width: 1044px) {
  .intro {
    width: 720px;
    height: 428px;
    margin-top: 88px;
    margin-left: 24px;
  }
}
@media screen and (max-width: 787px) {
  .intro {
    width: 288px;
    height: 752px;
    margin-top: 64px;
    margin-left: 16px;
  }
}