@import url(./__title/place__title.css);
@import url(./__image/place__image.css);
@import url(./__website/place__website.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__link/place__link.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__paragraph-text/place__paragraph-text.css);

.place {
  margin: 80px auto 0px;
  display: grid;
  grid-template-columns: 460px, 484px;
  grid-template-rows: 92px, 460px;
  grid-gap: 48px 40px;
  grid-template-areas: 
  "title website"
  "image paragraph";
}
.place:first-child {
  margin: 0px auto;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place {
    margin: 72px auto 0px;
    grid-template-columns: 440px, 456px;
    grid-template-rows: 76px, 440px;
    grid-gap: 48px 32px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place {
    margin: 88px auto 0px;
    grid-template-columns: 340px, 352px;
    grid-template-rows: 46px, 340px;
    grid-gap: 48px 28px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .place {
    margin: 48px auto;
    width: 320px;
    grid-template-columns: minmax(auto-fit, 288px, 320px);
    grid-row-gap: 32px;
    grid-template-areas: 
  "title"
  "image"
  "paragraph";
  }
}