@import './__list/footer__list.css';
@import './__list-point/footer__list-point.css';
@import './__links/footer__links.css';
@import './__link/footer__link.css';
@import './__copyright/footer__copyright.css';
.footer {
  margin: 92px auto;
  padding-bottom: 24px;
  width: 1184px;
  height: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 1300px) {
  .footer {
    width: 928px;
    height: 18px;
  }
}
@media screen and (max-width: 1044px) {
  .footer {
    margin: 88px auto;
    width: 720px;
    height: 18px;
  }
}
@media screen and (max-width: 787px) {
  .footer {
    margin-top: 64px;
    margin-left: 16px;
    padding-bottom: 24px;
    width: 186px;
    height: 310px;
    flex-direction: column;
  }
}