.place__url-heading {
  width: 456px;
  height: 12px;
  margin-top: 0px;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.2em;
  color: #AAAAAA;
}

@media screen and (max-width: 787px) {
  .place__url-heading {
  width: 352px;
  }
}